<div class="background">
  <div class="wl"></div>
  <div class="wq"></div>
  <div class="wp"></div>
  <div class="wo"></div>
  <div class="wn"></div>
</div>
<div class="row" style="display: flex; align-items: center;">
  <div class="col-md-4 col-sm-4 col-sx-4">
    <header style="padding-left:10px;">
      <%= image_tag "logo.png" %>
    </header>
  </div>
  <div class="col-md-2 col-sm-2 col-sx-2">
    <h4 id="current-season"></h4>
  </div>
  <div class="col-md-3 col-sm-3 col-sx-3">
    <button id="load-data"></button>
  </div>
  <div class="col-md-1 col-sm-1 col-sx-1">
    <button id="calculate-season">Calculate</button>
  </div>
  <div class="col-md-2 col-sm-2 col-sx-2">
    <b id="correct-prediction"></b>
  </div>
</div>
<div class="container-fluid wrap-window">
  <div class="row show-content">
    <div class="col-md-4 col-sm-4 col-sx-4 table-container">
      <table id="teams" class="table">
        <colgroup>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <thead>
          <tr>
            <th>Team</th>
            <th>Current rating</th>
            <th>Old rating</th>
          </tr>
        </thead>
        <tbody>
          <% for team in @teams %>
            <tr>
              <td class="team-name"><%= team.name %></td>
              <td class="team-current-rating"><%= team.mean.round(2).to_s + ' ±' + team.standard_deviation.round(2).to_s %></td>
              <td class="team-old-rating"></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6 col-sm-6 col-sx-6 table-container">
      <table id="matches" class="table">
        <colgroup>
          <col/>
          <col/>
          <col/>
          <col/>
        </colgroup>
        <thead>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Predict</th>
            <th>Result</th>
            <th class="date">Date</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-sx-2 left-menu">
      <div class="row" style="margin: 0 auto;">
        <select class="text-center" style="width:100%">
          <% for team in @teams %>
            <option value="<%= team.id %>"><%= team.name %></option>
          <% end %>
        </select>
      </div>
      <h5 class="text-center">VS:</h5>
      <div class="row" style="margin: 0 auto;">
        <select class="text-center" style="width:100%">
          <% for team in @teams %>
            <option value="<%= team.id %>"><%= team.name %></option>
          <% end %>
        </select>
      </div>
      <div class="user-choose">
        <b>Predict: Draw</b>
        <h5>Result:</h5>
        <div class="radio">
          <label>
            <input type="radio" name="optradio">A win
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optradio">B win
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optradio">Draw
          </label>
        </div>
      </div>
      <div class="submit-button text-center">
        <button id="calculate-match">Calculate</button>
      </div>
      <br />
      <div class="submit-button text-center">
        <button id="reset">Reset data</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(function() {
  $("table").tablesort();
  $("thead th.date").data("sortBy", function(th, td, tablesort) {
    var date = td.text().split('/');
    return new Date(date[2], date[1], date[0]);
  });

  <% if session[:current_year] >= 1993 %>
    $("#current-season").text('Season: ' + "<%= session[:current_year] %>" + '-' + "<%= session[:current_year] + 1 %>");
  <% else %>
    $("#current-season").text('');
  <% end %>
  $("#load-data").text('Load data for season ' + "<%= session[:current_year] + 1 %>" + '-' + "<%= session[:current_year] + 2 %>");
  $("#load-data").prop("disabled", "<%= session[:calculated] %>" == 'true' ? false : true);
  $("#calculate-season").prop("disabled", "<%= session[:calculated] %>" == 'true' ? true : false);
  var cp = 0;
  var mc = 0;
  <% for match in @matches %>
    $("#matches tbody").append($('<tr>').prop('class', "<%= match.predict == match.result ? 'good-comparison' : 'bad-comparison' %>")
      .append($('<td>').prop('class', 'match-home').text("<%== match.home.name %>"))
      .append($('<td>').prop('class', 'match-away').text("<%== match.away.name %>"))
      .append($('<td>').prop('class', 'match-predict').text("<%= match.predict %>"))
      .append($('<td>').prop('class', 'match-result').text("<%= match.result %>"))
      .append($('<td>').prop('class', 'match-date').text("<%= match.date %>"))
    );
    <% if match.predict == match.result %>
      cp++;
    <% end %>
    mc++;
  <% end %>
  $("#correct-prediction").text('Correct prediction: ' + (cp / mc * 100).toFixed(2) + '%');

  $("#load-data").click(function() {
    $.ajax({
      url: "<%= load_data_path %>",
      type: "PUT",
      processData: false,
      contentType: false,
      dataType : 'script',
    });
  });

  $("#calculate-season").click(function() {
    $.ajax({
      url: "<%= calculate_season_path %>",
      type: "PUT",
      processData: false,
      contentType: false,
      dataType : 'script',
    });
  });

  $("#reset").click(function() {
    $.ajax({
      url: "<%= reset_path %>",
      type: "PUT",
      processData: false,
      contentType: false,
      dataType : 'script',
    });
  });
});
</script>